html,body{
    width:100%;
    margin:0 auto;
    background-color:#f2f2f2;
    font-family: 'Oswald', sans-serif;
}

h1{
    color:white;
    text-align:center;
}

p{
    text-align:center;
    color:black;
}

#titleheader {
    height: 300px;
    width: 1200px;
    background-image: url("tRex_header_final.jpg");
    margin: 0 auto;
}

.button{
    width:50px;
    height:50px;
    display:inline-block;
    padding-top:100px;
    padding-left:70px;
}
.navButtons{
    text-align:center;
}
.content{
    width:100%;
    height:100vh;
    background-color:#f2f2f2;
    
}
.theContent{
    width:100%;
height:80vh;
background-color:red;
}

.logo{
    width:100px;
    height:100px;
    margin-left:12px;

}

.sideButtons{
    margin-top:25px;
}
a{
    margin-top:10px;
}
label{
    margin-left:60px;
    color:#ffffff;
}
input{
    text-align:center;
    display:block;
    margin:0 auto 0 auto;
}
#searchbutton{
    width:50px;
    display:block;
    margin:0 auto 0 auto;
    margin-top:5px;
}
